<h1 style=" color: white; text-align: center;font-family: 'Courier New', Courier, monospace;background-color: rgb(31, 31, 82);height: 2em;"><b>Library</b></h1>

<div>
  <h1 style=" color: darkblue; text-align: center;"><b><i>Welcome to My Library</i></b></h1>
         <br><br>
          <h3 style="text-align: center;"><b> <i>" Think of life as a good book. The further you get into it, the more it begins to make sense. "</i></b></h3>

          <h3 style="text-align: center;"><b><i>– Harold Kushner</i></b></h3>
          <img src="https://image.shutterstock.com/image-photo/vintage-antiquarian-books-pile-on-260nw-135114548.jpg" height="300em" width="900em" style="margin-left: 5em;">
          <br><br><br>
          <h3 style="text-align: center;"><b><i>" If you only read the books that everyone else is reading, you can only think what everyone else is thinking. "</i></b></h3>

            <h3 style="text-align: center;"><b><i>– Haruki Murakami</i></b></h3>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa3IK-t-aRWLIDs3fh3JdL7CUJqmT64av8mA&usqp=CAU" height="300em" width="900em" style="margin-left:5em;">
            <br><br><br>
          <h3 style="text-align: center;"><b><i>" A book is the only place in which you can examine a fragile thought without breaking it. "</i></b></h3>

            <h3 style="text-align: center;"><b><i>– Edward P. Morgan</i></b></h3>
            <img src="https://miro.medium.com/max/10944/1*S81O15rjKfG-BFdnNC6-GQ.jpeg" height="300em" width="900em" style="margin-left:5em ;">
            </div>