<div class="row" style="margin-left: 20em;border: 1px solid whitesmoke;background-color: whitesmoke;margin-top: 2em;margin-right: 15em;">    
    <form action="/books" method="POST">
        <h3><b style="font-family: 'Times New Roman', Times, serif;">Enter the Book to Delete</b></h3> <br>
        <p><b><h5>(**Please fill out all the mandatory fields!!)</h5></b></p> <br><br>
        <h5>
        <label for="title" style="margin-right: 22em">Title**</label> <br> 
        <input type="text" class="form-control" style="width:25em;" name="title" required> <br><br>
          <label for="author" style="margin-right: 21em">Author**</label> <br>
           <input type="text" class="form-control" style="width: 25em;" name="author" required> <br><br>
          <label for="genre" style="margin-right: 21em;">Genre**</label> <br>
          <input type="text" class="form-control" style="width:25em;" name="genre" required> <br><br>
          <label for="image" style="margin-right: 21em;">Image**</label> <br> 
          <input type="file" class="form-control" style="width:25em;" name="image" required> <br><br><br>
          <button type="submit" class="btn btn-primary" style="background-color: dodgerblue;color: white;">Delete Book</button>
        </h5>
    </form>
  </div>
