<div class="container" style="border: 2px solid whitesmoke;margin-left: 7%;margin-right: 12%;margin-top: 2em;background-color: whitesmoke;">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
           <form action="/" method="GET" class="row gy-2 gx-3 align-items-center" onsubmit="return valid() && valid2()">
             <h2 style="text-align: center;margin-left: 15em;"><b>Log In Form</b></h2>
             <p style="text-align: center;margin-left: 10em;"><b>Login to Continue!! <br><br>(If you don't have an account,Create an account to generate a User Name and Password for future reference!!) <br>***Please remember your User Name(ie., First Name and Last Name) and Password.</b></p>
               <br><br>
              <div class="col-lg-5">
               <div class="mb-3">
                <label for="uname" id="uname" style="font-family: 'Times New Roman', Times, serif;"></label>
                <label style="margin-left: 25em;">UserName</label>
                 <input type="text" class="form-control" id="username" placeholder="Enter Your First Name and Last Name" style="margin-left: 25em;">
                <br><br>
                <label for="pswd" id="pswd" style="font-family: 'Times New Roman', Times, serif;"></label>
                <label style="margin-left: 25em;">Password</label>
                 <input class="form-control" type="password" id="password" placeholder="Enter your password" style="margin-left: 25em;">
                </div>
             </div>
             <div class="col-lg-5">
              <div class="mb-3">
                <!-- <label for="formGroupExampleInput" class="form-label">Middle Name</label>
                 <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Middle Name"><br><br>
                 <label for="formGroupExampleInput" class="form-label">Email Id</label>
                 <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Enter a valid mail id"> -->
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-7"><br><br>
            <div class="mb-3">
              <!-- <label for="password" class="form-label">Password</label>
              <input class="form-control" type="password" id="password" placeholder="Enter a password"> -->
            </div></div>
            <div col-lg-5></div><br><br>
            
            <div class="col-auto">
              <div col-lg-2>
                <button type="submit" class="btn btn-primary">LogIn</button>
              </div>
            </div>

            <div col-lg-5></div>
           </form> 
            
            
          <!-- <a href="/" class="btn btn-primary pull-right btnNext" style="margin-bottom:30em;">More <i class="glyphicon glyphicon-chevron-right"></i></a> -->
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>
                                                  
                                                                                  
  <hr>
  
  