div{
    background-color: darkblue;
    height: 8em;
}

div a{
    margin-left: 2em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

div img{
    margin-left: 2em;
}

