<div class="row" style="margin-top: 2em; background-color: whitesmoke;border: 1px solid whitesmoke;margin-right: 15em;margin-left: 20em;">   
    <form action="/authors" method="POST">
        <p><h3><b style="font-family: 'Times New Roman', Times, serif;">Enter the Author Details</b></h3><br><br>
        <p><b><h5>(**Please fill out all the mandatory fields)</h5></b></p>
        Title <br> <input type="text" class="form-control" style="width:25em;" name="title" required> <br><br>
        Author <br> <input type="text" class="form-control" style="width: 25em;" name="author" required> <br><br>
        Genre <br> <input type="text" class="form-control" style="width:25em;" name="genre" required> <br><br>
        Image <br> <input type="file" class="form-control" style="width:25em;" name="image" required> <br><br>
        <button type="submit" class="btn btn-primary" style="background-color: dodgerblue;color: white;">Add Author</button>
    </form> 
</div>